#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-bullet {
  list-style-type: none;
}

.featuredPup {
  text-align: left;
  background-color: rgba(232, 229, 225, 0.833);
  margin: 20px; 
  font-size: 5vw;
  border-radius: 5px;
  width: auto;
  height: auto;
  box-shadow: 5px 5px 15px rgba(25, 24, 24, 0.528);
  
}
.featuredPup ul {
  padding: 6px;
  margin: 15px;
  font-size: 1vw;
}
.feat-header { 
  text-align: center;
  background: linear-gradient(rgba(43, 42, 43, 0.42), rgba(164, 156, 164, 0.758), rgba(232, 229, 225, 0.833));
  font-size: 3vw;
  border-radius: 5px;
  padding: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.feat-header2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px
}
.puppy-pals {
  text-shadow: 1px 1px 2px rgb(109, 104, 104);
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.puppy-pals h1 {
  letter-spacing: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
